@font-face {
  font-family: 'Agora Bold';
  src: url('../fonts/pfagorasanspro-bold-webfont/pfagorasanspro-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/pfagorasanspro-bold-webfont/pfagorasanspro-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pfagorasanspro-bold-webfont/pfagorasanspro-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/pfagorasanspro-bold-webfont/pfagorasanspro-bold-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Agora Black';
  src: url('../fonts/pfagorasanspro-black-webfont/pfagorasanspro-black-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/pfagorasanspro-black-webfont/pfagorasanspro-black-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pfagorasanspro-black-webfont/pfagorasanspro-black-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/pfagorasanspro-black-webfont/pfagorasanspro-black-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Agora Bold Italic';
  src: url('../fonts/pfagorasanspro-bolditalic-webfont/pfagorasanspro-bolditalic-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/pfagorasanspro-bolditalic-webfont/pfagorasanspro-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pfagorasanspro-bolditalic-webfont/pfagorasanspro-bolditalic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/pfagorasanspro-bolditalic-webfont/pfagorasanspro-bolditalic-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}
